* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1100px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

.MuiButton-root:focus {
  outline: none; /* Loại bỏ viền focus */
  box-shadow: none; /* Loại bỏ bóng đổ focus */
}

.container {
  max-width: 90%;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper {
  border-bottom: 1px solid rgba(177, 176, 176, 0.4);
  padding-bottom: 10px;
}

.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.headerWrapper .header .part2 .countryDrop {
  width: 150px;
  height: 50px;
  min-width: 150px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  text-align: left;
  justify-content: flex-start;
  padding: 10px 10px !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  line-height: 16px;
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.headerWrapper .header .part2 .countryDrop .name {
  line-height: 16px;
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 700;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.3 !important;
}

.logoWrapper img {
  width: 100%;
  height: 64px;
}

.bg-blue {
  background: #243a95;
}

.headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  width: 100%;
  height: 30px;
  border: 0px !important;
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0px 20px !important;
}

.headerSearch button {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 40px;
  border: 0px;
}
.headerSearch button svg {
  font-size: 24px;
}
.part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  color: #000;
}
.part3 .circle svg {
  font-size: 24px;
}
.cardTab .price {
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cardTab button {
  background: #fff1ee !important;
}
.cardTab button svg {
  color: #ea2b0f !important;
}
.cardTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #ea2b0f;
  border-radius: 20px;
}

nav .allCatTab {
  background: #2bbef9;
  padding: 8px 20px !important;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #ffffff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 800;
}

nav .allCatTab svg {
  font-size: 24px !important;
}

nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}
nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul li a {
  text-decoration: none;
}
nav .navPart2 ul li a button {
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
}

nav .navPart2 ul li a:hover {
  color: #2bbef9;
  background: #f0faff;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModal .countryList button.active {
  background: #f1f1f1;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}

.locationModal .countryList li button {
  padding: 15px 20px !important;
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  border: 0px solid !important;
}

.locationModal .close_ {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
}
